<p id="notice"><%= notice %></p>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>

<h1>Perfils</h1>

<%if @perfils.count > 0 %>
<table>
  <thead>
    <tr>
      <th>Idade</th>
      <th>Altura</th>
      <th>Sexo</th>
      <th>Peso</th>
      <th>Objetivo</th>
      <th>Atividade</th>
      <th>User</th>
      <th>Ativo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perfils.each do |perfil| %>
      <tr>
        <td><%= perfil.idade %></td>
        <td><%= perfil.altura %></td>
        <td>
          <%=if perfil.sexo 
             "homem" 
          else 
             "mulher" 
          end%>  
        </td>
        <td><%= perfil.peso %></td>
        <td><%= perfil.objetivo %></td>
        <td><%= perfil.atividade %></td>
        <td><%= current_user.email%></td>
        <td> <%= if perfil.ativo 
           "sim"
          else
            "não"
         end%>
        </td>
        <td><%= link_to 'Show', perfil %></td>
        <td><%= link_to 'Edit', edit_perfil_path(perfil) %></td>
        <td><%= link_to 'Destroy', perfil, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<li><%= link_to 'New Perfil', new_perfil_path %></li>

