<p id="notice"><%= notice %></p>

<p>
  <strong>Idade:</strong>
  <%= @perfil.idade %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @perfil.altura %>
</p>

<p>
  <strong>Sexo:</strong>
   <%=if @perfil.sexo 
             "homem" 
          else 
             "mulher" 
          end%>  
</p>

<p>
  <strong>Peso:</strong>
  <%= @perfil.peso %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @perfil.objetivo %>
</p>

<p>
  <strong>Atividade:</strong>
  <%= @perfil.atividade %>
</p>

<p>
  <strong>User:</strong>
  <%= @perfil.user_id %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= if @perfil.ativo 
     "sim"
    else
      "não"
    end%>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
