<p id="notice"><%= notice %></p>

<p>
  <strong>Idade:</strong>
  <%= @perfil.idade %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @perfil.altura %>
</p>

<p>
  <strong>Sexo:</strong>
   <%=if @perfil.sexo 
             "homem" 
          else 
             "mulher" 
          end%>  
</p>

<p>
  <strong>Peso:</strong>
  <%= @perfil.peso %>
</p>

<p>
  <strong>Objetivo:</strong>
  <%= @perfil.objetivo %>
</p>

<p>
  <strong>Atividade:</strong>
  <%= @perfil.atividade %>
</p>

<p>
  <strong>User id:</strong>
  <%= @perfil.user_id %>
</p>

<p>
  <strong>Ativo:</strong>
  <%= if @perfil.ativo 
     "sim"
    else
      "não"
    end%>
</p>

<p>
  <strong>Caloria:</strong>
  <%= if @perfil.sexo
    bmr = (66.47+(13.75*@perfil.peso)+(5*@perfil.altura)-(6.75*@perfil.idade))
   if @perfil.atividade == "bmr"
    bmr.round
   elsif @perfil.atividade == "sedentario: pouco ou nada de exercicios"
    (bmr*1.2).round
   elsif @perfil.atividade == "exercicio leve"
    (bmr*1.375).round
   elsif @perfil.atividade =="exercicio moderado"
    (bmr*1.55).round
   elsif @perfil.atividade =="exercicio intenso"
    (bmr*1.725).round
   else
    (bmr*1.9).round
   end
  else
    bmr = (665.09+(9.56*@perfil.peso)+(1.84*@perfil.altura)-(4.67*@perfil.idade))
     if @perfil.atividade == "bmr"
    bmr.round
   elsif @perfil.atividade == "sedentario: pouco ou nada de exercicios"
    (bmr*1.2).round
   elsif @perfil.atividade == "exercicio leve"
    (bmr*1.375).round
   elsif @perfil.atividade =="exercicio moderado"
    (bmr*1.55).round
   elsif @perfil.atividade =="exercicio intenso"
    (bmr*1.725).round
   else
    (bmr*1.9).round
   end
  end%>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfils_path %>
