
    <!DOCTYPE html>
    <html lang = "en">
      <head>
        <title>DicasAcad</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name ="viewport" content = "width=device-width , initial-scale=1">
      </head>

      <body>
      <font size="5"> 
        <header class = "container">
          <nav class = "navbar navbar-default">
            <div class ="container-fluid">            
              <div class = "navbar-header">          
                <%= link_to "Menu" , root_path, class: "navbar-brand" %>
              </div>
        <ul class = "nav navbar-nav navbar-right">
         <% if signed_in? %>
          Signed in as: <%= current_user.email %>
         <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
        <% else %>
         <li> <%= link_to "Sign in", sign_in_path %> </li>
        <% end %>
        </header>

        <section class = "container">

          <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
        <%= yield %>
        </section>
      
      </body>
    </html>




