
    <!DOCTYPE html>
    <html lang = "en">
      <head>
        <style type="text/css">
          h1 {
            margin: 1em 0 0.5em 0;
            color: #343434;
            font-weight: normal;
            font-family: 'Ultra', sans-serif;   
            font-size: 36px;
            line-height: 42px;
            text-transform: uppercase;
            text-shadow: 0 2px black, 0 3px #777;
          }
        </style>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        
        <meta charset="utf-8">
        <title>Dicas de Treino</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="main.css">

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name ="viewport" content = "width=device-width , initial-scale=1">

  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        
      </head>

      <body>
        <div class="container-fluid" style="background-color: #5335af;">
        <div class="container menu">
          <div class="row no-gutters" style="height:100px;">
            <div class="col-5">
              <h5 style="padding-top: 25px;">Dicas de Academia</h5>
            </div>
            <div class="col-2 logo">
            </div>
            <div class="col-5">
              <ul>
              
                 <% if signed_in? %>
                  <!--Signed in as: <%= current_user.email %>-->
                  <li> <%= link_to "Dicas", root_path %> </li>
                  <li> <%= link_to "Perfil", perfils_path %> </li>
                  <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div> 
        <section class = "container">

          <div id="flash">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>
        <%= yield %>
        <% if signed_out? %>
            
            
            <div class="container">
              <p></p>
              <h1>BEM VINDO AO NOSSO SITE!</h1>                                       
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">INFORMATION
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><strong><p>   Nele tu receberás dicas para manter-se saudável...</p></strong></li>
                  <li><strong><p>Após efetuar seu loggin por favor edite seu perfil, localizado no canto superior direito, para receber suas dicas</p></strong></li>
                </ul>
              </div>
            </div>  

            <head>
              <style>
              body { 
                background-image: url('http://clipart-library.com/new_gallery/23-238511_professional-development-sites-for-umbraco-transparent-blue-wave.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: 100% 90%; 

                
              }
              </style>
              </head>
            
        <% end %>
        </section>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      </body>
    </html>




